:host {
    display: flex;
    width: 100%;
    padding: 0rem;
    justify-content: center;
    flex-direction: column;
}

.page-title {
    display: flex;
    width: 100%;
    padding: 0rem;
    justify-content: center;
}
